@font-face {
    font-family: 'Hero';
    src: url('../fonts/hero-200-normal.woff2') format('woff2'),
    url('../fonts/hero-200-normal.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
